:root {
  --dl-color-red-100: rgba(248, 215, 218, 1);
  --dl-color-red-200: rgba(241, 174, 181, 1);
  --dl-color-red-300: rgba(234, 134, 143, 1);
  --dl-color-red-400: rgba(227, 93, 106, 1);
  --dl-color-red-500: rgba(220, 53, 69, 1);
  --dl-color-red-600: rgba(176, 42, 55, 1);
  --dl-color-red-700: rgba(132, 32, 41, 1);
  --dl-color-red-800: rgba(88, 21, 28, 1);
  --dl-color-red-900: rgba(44, 11, 14, 1);
  --dl-color-blue-100: rgba(207, 226, 255, 1);
  --dl-color-blue-200: rgba(158, 197, 254, 1);
  --dl-color-blue-300: rgba(110, 168, 254, 1);
  --dl-color-blue-400: rgba(61, 139, 253, 1);
  --dl-color-blue-500: rgb(47, 93, 161);
  --dl-color-blue-600: rgba(10, 88, 202, 1);
  --dl-color-blue-700: rgb(37, 98, 189);
  --dl-color-blue-800: rgba(5, 44, 101, 1);
  --dl-color-blue-900: rgba(3, 22, 51, 1);
  --dl-color-cyan-100: rgba(207, 244, 252, 1);
  --dl-color-cyan-200: rgba(158, 234, 249, 1);
  --dl-color-cyan-300: rgba(110, 223, 246, 1);
  --dl-color-cyan-400: rgba(61, 213, 243, 1);
  --dl-color-cyan-500: rgba(13, 202, 240, 1);
  --dl-color-cyan-600: rgba(10, 162, 192, 1);
  --dl-color-cyan-700: rgba(8, 121, 144, 1);
  --dl-color-cyan-800: rgba(5, 81, 96, 1);
  --dl-color-cyan-900: rgba(3, 40, 48, 1);
  --dl-color-gray-100: rgba(248, 249, 250, 1);
  --dl-color-gray-200: rgba(233, 236, 239, 1);
  --dl-color-gray-300: rgba(222, 226, 230, 1);
  --dl-color-gray-400: rgba(206, 212, 218, 1);
  --dl-color-gray-500: #595959;
  --dl-color-gray-600: rgba(108, 117, 125, 1);
  --dl-color-gray-700: #999999;
  --dl-color-gray-800: rgba(52, 58, 64, 1);
  --dl-color-gray-900: #D9D9D9;
  --dl-color-pink-100: rgba(247, 214, 230, 1);
  --dl-color-pink-200: rgba(239, 173, 206, 1);
  --dl-color-pink-300: rgba(230, 133, 181, 1);
  --dl-color-pink-400: rgba(222, 92, 157, 1);
  --dl-color-pink-500: rgba(214, 51, 132, 1);
  --dl-color-pink-600: rgba(171, 41, 106, 1);
  --dl-color-pink-700: rgba(128, 31, 79, 1);
  --dl-color-pink-800: rgba(86, 20, 53, 1);
  --dl-color-pink-900: rgba(43, 10, 26, 1);
  --dl-color-teal-100: rgba(210, 244, 234, 1);
  --dl-color-teal-200: rgba(166, 233, 213, 1);
  --dl-color-teal-300: rgba(121, 223, 193, 1);
  --dl-color-teal-400: rgba(77, 212, 172, 1);
  --dl-color-teal-500: rgb(98, 199, 169);
  --dl-color-teal-600: rgb(28, 179, 134);
  --dl-color-teal-700: rgba(19, 121, 91, 1);
  --dl-color-teal-800: rgb(8, 68, 50);
  --dl-color-teal-900: rgba(6, 40, 30, 1);
  --dl-color-gray-5001: rgba(173, 181, 189, 1);
  --dl-color-gray-7001: rgba(73, 80, 87, 1);
  --dl-color-gray-9001: rgba(33, 37, 41, 1);
  --dl-color-green-100: rgba(209, 231, 221, 1);
  --dl-color-green-200: rgba(163, 207, 187, 1);
  --dl-color-green-300: rgba(117, 183, 152, 1);
  --dl-color-green-400: rgba(71, 159, 118, 1);
  --dl-color-green-500: rgba(25, 135, 84, 1);
  --dl-color-green-600: rgba(20, 108, 67, 1);
  --dl-color-green-700: rgba(15, 81, 50, 1);
  --dl-color-green-800: rgba(10, 54, 34, 1);
  --dl-color-green-900: rgba(5, 27, 17, 1);
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-color-indigo-100: rgba(224, 207, 252, 1);
  --dl-color-indigo-200: rgba(194, 159, 250, 1);
  --dl-color-indigo-300: rgba(163, 112, 247, 1);
  --dl-color-indigo-400: rgba(133, 64, 245, 1);
  --dl-color-indigo-500: rgba(102, 16, 242, 1);
  --dl-color-indigo-600: rgba(82, 13, 194, 1);
  --dl-color-indigo-700: rgba(61, 10, 145, 1);
  --dl-color-indigo-800: rgba(41, 6, 97, 1);
  --dl-color-indigo-900: rgba(20, 3, 48, 1);
  --dl-color-orange-100: rgba(255, 229, 208, 1);
  --dl-color-orange-200: rgba(254, 203, 161, 1);
  --dl-color-orange-300: rgba(254, 178, 114, 1);
  --dl-color-orange-400: rgba(253, 152, 67, 1);
  --dl-color-orange-500: rgba(253, 126, 20, 1);
  --dl-color-orange-600: rgba(202, 101, 16, 1);
  --dl-color-orange-700: rgba(152, 76, 12, 1);
  --dl-color-orange-800: rgba(101, 50, 8, 1);
  --dl-color-orange-900: rgba(51, 25, 4, 1);
  --dl-color-purple-100: rgba(226, 217, 243, 1);
  --dl-color-purple-200: rgba(197, 179, 230, 1);
  --dl-color-purple-300: rgba(169, 142, 218, 1);
  --dl-color-purple-400: rgba(140, 104, 205, 1);
  --dl-color-purple-500: rgba(111, 66, 193, 1);
  --dl-color-purple-600: rgba(89, 53, 154, 1);
  --dl-color-purple-700: rgba(67, 40, 116, 1);
  --dl-color-purple-800: rgba(44, 26, 77, 1);
  --dl-color-purple-900: rgba(22, 13, 39, 1);
  --dl-color-yellow-100: rgba(255, 243, 205, 1);
  --dl-color-yellow-200: rgba(255, 230, 156, 1);
  --dl-color-yellow-300: rgba(255, 218, 106, 1);
  --dl-color-yellow-400: rgba(255, 205, 57, 1);
  --dl-color-yellow-500: rgba(255, 193, 7, 1);
  --dl-color-yellow-600: rgba(204, 154, 6, 1);
  --dl-color-yellow-700: rgba(153, 116, 4, 1);
  --dl-color-yellow-800: rgba(102, 77, 3, 1);
  --dl-color-yellow-900: rgba(51, 39, 1, 1);
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-_gray-black: rgba(0, 0, 0, 1);
  --dl-color-_gray-white: rgba(255, 255, 255, 1);
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-stroke-input: rgba(206, 212, 218, 1);
  --dl-color-stroke-light: rgba(222, 226, 230, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-primary-color: rgba(118, 73, 247, 1);
  --dl-color-primary-light: rgba(235, 229, 252, 1);
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-secondary-color: rgba(108, 117, 125, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-_statuscolor-info: rgba(23, 162, 184, 1);
  --dl-color-primary-colordark: rgba(82, 39, 204, 1);
  --dl-color-bodytext-basecolor: rgba(104, 113, 122, 1);
  --dl-color-heading-titlecolor: rgba(21, 37, 54, 1);
  --dl-color-_statuscolor-danger: rgba(220, 53, 69, 1);
  --dl-color-secondary-darkcolor: rgba(84, 89, 94, 1);
  --dl-color-_statuscolor-success: rgba(40, 167, 69, 1);
  --dl-color-_statuscolor-warning: rgba(255, 193, 7, 1);
  --dl-color-secondary-lightcolor: rgba(171, 181, 190, 1);
  --dl-space-space-oneandhalfunits: 24px;
}

body {
  background: var(--dl-color-teal-500);
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: var(--dl-color-teal-800);
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: var(--dl-color-teal-500);
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: var(--dl-color-teal-800);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.btn-secondary {
  color: white;
  background-color: var(--dl-color-teal-700);
  border-color: var(--dl-color-teal-700)
}
.btn-info {
  color: white;
  background-color: var(--dl-color-teal-700);
  border-color: var(--dl-color-teal-700)
}
.btn-info:hover {
  color: white;
  background-color: var(--dl-color-teal-600);
  border-color: var(--dl-color-teal-600)
}
.btn-outline-info {
  color: white;
  background-color: var(--dl-color-teal-600);
  border-color: var(--dl-color-teal-550)
}
.btn-outline-info:hover {
  color: white;
  background-color: var(--dl-color-teal-600);
  border-color: var(--dl-color-teal-600)
}
.btn-secondary:hover {
  background-color: var(--dl-color-teal-500);
  border-color: var(--dl-color-teal-500);
}
.mr-2{
  color: var(--dl-color-teal-700)
}
.mr-2:hover{
  color: var(--dl-color-teal-800)
}
.mb-3{
  color: var(--dl-color-teal-800)
}
.text-muted{
  color: white
}
.ml-2{
  color: var(--dl-color-teal-800)
}
.ml-2:hover{
  color: white
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.DiplayBoldHeading-1 {
  font-size: 72px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Semi-BoldH4Heading {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.DiplayHeading-4-Semibold {
  font-size: 52px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Semi-BoldH3Heading {
  font-size: 28px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.LeadText-Regular {
  font-size: 21px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.BodySmall {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Semi-BoldH1Heading {
  font-size: 40px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.BoldH1Heading {
  font-size: 40px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Semi-BoldH2Heading {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Semi-BoldH5Heading {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.ExtraboldH2Heading {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.BodyBasetext {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.DiplayHeading-3-Semibold {
  font-size: 58px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.ExtraboldH4Heading {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.ExtraboldH6Heading {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.DiplayHeading-2-Semibold {
  font-size: 64px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Semi-BoldH6Heading {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.BoldH2Heading {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.BoldH3Heading {
  font-size: 28px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.BoldH6Heading {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.ExtraboldH3Heading {
  font-size: 28px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.BoldH4Heading {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Hobbyist {
  font-size: 36px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.ExtraboldH1Heading {
  font-size: 40px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Bodyblockquote {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.BodyStrong {
  font-size: 17px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.BoldH5Heading {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.ExtraboldH5Heading {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.BodyItalic {
  font-size: 17px;
  font-style: italic;
  font-family: Muli;
  font-weight: 400px;
  font-stretch: normal;
}
